<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ящики</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'homepage' %}">Головна</a> |
      <a href="{% url 'warehouse_list' %}">Склади</a> |
      <a href="{% url 'worker_list' 0 %}">Робітники</a> |
      <a href="{% url 'rack_list' 0 %}">Полиці</a> |
      <a href="{% url 'box_list' 0 0 %}">Ящики</a> |
      <a href="{% url 'weapon_list' %}">Зброя</a> 
    </nav>
    {% if rack_id == 0 %}
    <h1>Ящики</h1>
    {% else %}
    <h1>Ящики полиці {{rack_id}}</h1>
    {% endif %}

    <div>
    <button type='button' onclick="window.location.href='{% url 'box_create' warehouse_id rack_id %}'">
      Додати ящик
    </button>
    </div>

    <p>
    <div>
      {% if box_list %}
    <table border='1'>
      <tr>
        <th>Код</th>
        <th>Вага</th>
        <th>Ціна</th>
        <th>К-ть зброї</th>
        <th>Зброя</th>
      </tr>
      {% for box in box_list%}
      <tr>
      <td>{{box.id}}</td>
      <td>{{box.weight}}</td>
      <td>{{box.price}}</td>
      <td>{{box.amount}}</td>
      <td>
        {% for weapon in weapon_list %}
        {% if weapon.id == box.weapon_id %}
        {{weapon.name}}
        {% endif %}
        {% endfor %}
      </td>
      <td>
        <div>Редагувати</div>
        <div><a href="{% url 'box_delete' warehouse_id rack_id box.id %}">Видалити</a></div>
      </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    На полиці нема жодного ящику
    {% endif %}
    </div>
    </p>

  </body>
