<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Країни</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav class='navMenu'>
      {% load static %}
      <span><img src="{% static 'media/logo2.png' %}" width='60' height='60'/></span>
      <a class='navElm' href="{% url 'homepage' %}">Головна</a>
      <a class='navElm' href="{% url 'warehouse_list' %}">Склади</a>
      <a class='navElm' href="{% url 'worker_list' 0 %}">Робітники</a>
      <a class='navElm' href="{% url 'box_list' 0 %}">Ящики</a>
      <a class='navElm' href="{% url 'weapon_list' %}">Зброя</a>
      <a class='navElm' href="{% url 'country_list' %}">Країни</a>
      <a class='navElm' href="{% url 'supplier_list' %}">Постачальники</a>
    </nav>

    <h1>Країни</h1>
    
    <div style='padding: 10px 25px;'>
    <button type='button' onclick="window.location.href='{% url 'country_create' %}'">
      Додати країну
    </button>
    </div>

    <p>
    <div>
      {% if country_list %}
    <table class='show' >
      <tr>
        <th>Код</th>
        <th>Назва</th>
        <th></th>
      </tr>
      {% for country in country_list %}
      <tr>
      <td>{{country.id}}</td>
      <td>{{country.country}}</td>
      <td>
        <div><a href="{% url 'country_update' country.id %}">Редагувати</a></div> 
        <div><a href="{% url 'country_delete' country.id %}">Видалити</a></div> 
      </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    Країни відсутні
    {% endif %}
    </div>
    </p>

  </body>
</html>
