<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Вітаю!</title>
  </head>
    <nav>
      <a href="{% url 'homepage' %}">Головна</a> |
      <a href="{% url 'warehouse_list' %}">Склади</a> |
      <a href="{% url 'worker_list' 0 %}">Робітники</a> |
      <a href="{% url 'rack_list' 0 %}">Полиці</a> |
      <a href="{% url 'box_list' 0 0 %}">Ящики</a> |
      <a href="{% url 'weapon_list' %}">Зброя</a> 
    </nav>
    <h1>Головна сторінка</h1>
    <div>Вітаю на головній сторінці мого сайту!</div>
  </body>
</html>
