<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Склади</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav class='navMenu'>
      {% load static %}
      <span><img src="{% static 'media/logo2.png' %}" width='60' height='60'/></span>
      <a class='navElm' href="{% url 'homepage' %}">Головна</a>
      <a class='navElm' href="{% url 'warehouse_list' %}">Склади</a>
      <a class='navElm' href="{% url 'worker_list' 0 %}">Робітники</a>
      <a class='navElm' href="{% url 'box_list' 0 %}">Ящики</a>
      <a class='navElm' href="{% url 'weapon_list' %}">Зброя</a>
      <a class='navElm' href="{% url 'country_list' %}">Країни</a>
      <a class='navElm' href="{% url 'supplier_list' %}">Постачальники</a>
    </nav>

    <h1>Склади</h1>
    
    <div style='padding: 10px 25px;'>
    <button type='button' onclick="window.location.href='{% url 'warehouse_create' %}'">
      Додати склад
    </button>
    </div>

    <p>
    <div>
    <table class='show' >
      <tr>
        <th>Адреса</th>
        <th>Площа</th>
        <th>Постачальники</th>
        <th>Інше</th>
        <th></th>
      </tr>
      {% for warehouse in warehouse_list %}
      <tr>
      <td>{{warehouse.address}}</td>
      <td>{{warehouse.area}}</td>
      <td>
        {% for relation in relation_list %}
          {% if relation.warehouse == warehouse %}
          <div>{{relation.supplier}}</div>
          {% endif %}
        {% endfor %}

      </td>
      <td>
        <div><a href="{% url 'worker_list' warehouse.id %}">Робітники</a></div>
        <div><a href="{% url 'box_list' warehouse.id %}">Ящики</a></div>
      </td>
      <td>
        <div><a href="{% url 'warehouse_update' warehouse.id %}">Редагувати</a></div>
        <div><a href="{% url 'warehouse_delete' warehouse.id %}">Видалити</a></div> 
      </td>
      </tr>
      {% endfor %}
    </table>
    </div>
    </p>

  </body>
</html>
