<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Склади</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'homepage' %}">Головна</a> |
      <a href="{% url 'warehouse_list' %}">Склади</a>
    </nav>
    <h1>Склад {{warehouse.id}}</h1>
    <div>Адреса: {{warehouse.address}}</div>
    <div>Площа складу: {{warehouse.area}}</div>
    <div><a href="{% url 'worker_list' warehouse.id %}">Список працівників</a></div>
    <div><a href="{% url 'rack_list' warehouse.id %}">Список полиць</a></div>
  </body>
</html>
