<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Склади</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'homepage' %}">Home</a>
    </nav>
    <h1>Склад {{warehouse.id}}</h1>
    <p>
    <div>Адреса: {{warehouse.address}}</div>
    <div>Площа складу: {{warehouse.area}}</div>
    <div><a href="{% url 'worker_list' warehouse.id %}">Список працівників</a></div>
    </p>
    <button type='button' style='color: red;' onclick="window.location.href='{% url 'warehouse_delete' warehouse.id %}'">
      <!--return confirm('Are you sure?')-->
      Видалити склад
    </button>
  </body>
</html>
