<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Робітники складу {{workers.warehouse_id}}</title>
  </head>
  <body>
    <h1>Робітники складу {{workers.warehouse_id}}:</h1>
    <ol>
      {% for worker in workers.list %}
      <li>
        <a href="{% url 'worker' workers.warehouse_id worker.id %}">
          {{ worker.name }} {{ worker.phone }}
        </a>
      </li>
      {% endfor %}
    </ol>
    <button type='button' onclick="window.location.href='{% url 'create_worker' workers.warehouse_id %}'">
      Додати робітника
    </button>
  </body>
