<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Робітники складу {{warehouse_id}}</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'homepage' %}">Home</a> | 
      <a href="{% url 'warehouse_list' %}">Склади</a>
    </nav>
    <h1>Робітники складу {{warehouse_id}}:</h1>
    <ol>
      {% for worker in worker_list %}
      <li>
        <a href="{% url 'worker_detail' warehouse_id worker.id %}">
          {{ worker.name }} {{ worker.phone }}
        </a>
      </li>
      {% endfor %}
    </ol>
    <button type='button' onclick="window.location.href='{% url 'worker_create' warehouse_id %}'">
      Додати робітника
    </button>
  </body>
